fastapi
uvicorn
SQLAlchemy
psycopg2-binary
PyMySQL
pydantic[email]
email-validator
passlib
bcrypt==4.0.1
cryptography
python-jose[cryptography]
python-multipart
aiofiles
jinja2
httpx
pytest
pytest-asyncio
resend
brevo-python
sib-api-v3-sdk
python-dotenv
fastapi-mail